$gray: #cecece;
$darkGray: #414141;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-weight: normal;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: #555151;
  box-shadow: 4px 0px 3px 2px #cecece;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  & img {
    background-color: #fff;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 10px 20px;
  }
  & h1 {
    color: #fff;
  }
}

section {
  width: 65%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  & h1 {
    display: block;
    margin: 10px 0;
    color: $darkGray;
    font-size: 40px;
  }
  & select {
    height: 50px;
    font-size: 20px;
    &:focus {
      outline: none;
    }
  }
}
#infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-column,
.right-column {
  min-height: 200px;
  width: 50%;
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;
}
.left-column .crypto-info {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray;
  & img {
    color: $darkGray;
    margin: 0 10px;
    width: 50px;
    height: 50px;
  }
  & h2 {
    font-size: 24px;
  }
  & span {
    font-size: 24px;
    margin: 0 10px;
  }
}

.left-column .price-list,
.right-column .price-caps,
.right-column .changes-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.left-column .price-list li,
.right-column .price-caps li,
.right-column .changes-list li {
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $gray;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-column .price-list li {
  &:nth-child(odd) {
    background-color: $gray;
  }
  & span {
    margin: 0 20px;
  }
}

.right-column .price-caps li {
  height: 50px;
  &.highest span:nth-child(2) {
    color: #2c8f39;
  }
  &.lowest span::nth-child(2) {
    color: #d82a2a;
  }
}

.right-column span {
  margin: 0 20px;
}
span.red {
  color: #d82a2a;
}
span.green {
  color: #2c8f39;
}

@media (max-width: 1024px) {
  section {
    width: 90%;
  }
}

@media (max-width: 600px) {
  header {
    & img {
      width: 50px;
      height: 50px;
      margin: 10px 15px;
    }
    & h1 {
      font-size: 24px;
    }
  }
  section {
    width: 100%;
    align-items: center;
    & h1 {
      font-size: 24px;
    }
    & select {
      width: 100%;
    }
  }

  #infoWrapper {
    flex-direction: column;
  }
  .left-column,
  .right-column {
    width: 100%;
    min-height: 300px;
  }
  .left-column .crypto-info h2,
  .left-column .crypto-info span {
    font-size: 18px;
  }
  .right-column .price-caps li,
  .right-column .changes-list li {
    font-size: 14px;
    height: 60px;
  }
}
